<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/mentee" mat-list-item>
            <mat-icon mat-list-icon>dvr</mat-icon> Display Mentor
        </button>
        <button mat-list-item routerLink="/mentee/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Mentee-Profile
        </button>
        <button mat-list-item routerLink="/mentee/addmentor">
            <mat-icon mat-list-icon>person_add</mat-icon> Add-Mentor
        </button>
        <button mat-list-item routerLink="/mentee/updatebalance">
            <mat-icon mat-list-icon>account_balance_wallet</mat-icon> Update-balance
        </button>
    </mat-action-list>
</mat-card>