.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .center {
    margin: auto;
    width: 60%;
    border: 5px solid #FF4081;
    padding: 10px;
    height: 200px;
    width: 600px;
    background-color: #e77c95;
    text-align: center;
    }
    .bgandhw{
      text-align: center;
    }
    .bg {
      background-color: #FBD603;
      /* #C8C0CB */
    }
    .div-3 {
    	background-color: #FBD603;
    }
    .bolded { font-weight: bold; }
    .centers
    {
      text-align: center;
    }

