<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <div class="container text-center">
              <img src="../../../assets/mentorlogo.png" alt="" />
            </div>
  
            <h1 class="text-center">Login Here !!</h1>
  
            <!-- {{ loginData | json }} -->
            <form (ngSubmit)="formSubmit()">
  
              <!-- Role -->
              <div class="text-center">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Your Role</mat-label>
                  <input
                    [(ngModel)]="loginData.role"
                    name="role"
                    required
                    matInput
                    placeholder="Enter here"
                  />
                  <mat-hint>Type mentee/mentor</mat-hint>
                </mat-form-field>
                </div>
               <br>
               <div class="text-center">
              <!-- username field -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input
                  [(ngModel)]="loginData.username"
                  name="username"
                  required
                  matInput
                  placeholder="Enter here"
                />
                <mat-hint>Valid User Name</mat-hint>
              </mat-form-field>
            </div>
            <br>
              <!-- password field  -->
              <div class="text-center">
  
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>User Password</mat-label>
                <input
                  [(ngModel)]="loginData.password"
                  name="password"
                  type="password"
                  required
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
              </div>
             <br>
              <div class="container text-center">
                <button mat-raised-button color="primary" type="submit">
                  Login
                </button>
                &nbsp;
                &nbsp;
                <button class="ml10" mat-raised-button color="accent">
                  Reset
                </button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>