<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/mentorlogo.png" alt="" />

                    </div>
                    <h1 class="text-center">Register Here !!</h1>


                    {{mentor | json}}

                    <form (ngSubmit)="formSubmit()">

                        <!-- username -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input required [(ngModel)]="mentor.username" name="username" type="text" matInput
                                placeholder="Give a unique username to yourself" />
                        </mat-form-field>

                        <!-- password -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="mentor.password" [pattern]="passwordPtn" minlength="8"
                                maxlength="16" name="password" type="password" matInput
                                placeholder="Secure your account with a password" />
                            <mat-hint>Password should be of length 8-16 ans should contain both uppercase and lowercase
                                letter, numbers and special characters.</mat-hint>
                        </mat-form-field>

                        <!-- confirm password -->
                        <!-- <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input required name="confirmpassword" [(ngModel)]="mentor.confirmpassword"
                                [pattern]="passwordPtn" minlength="8" maxlength="16" type="password" matInput
                                placeholder="Make yourself sure" />
                        </mat-form-field> -->

                        <!-- first name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input required [(ngModel)]="mentor.firstName" name="firstName" type="text" matInput
                                placeholder="Your Good First Name" />
                        </mat-form-field>

                        <!-- last name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input [(ngModel)]="mentor.lastName" name="lastName" type="text" matInput
                                placeholder="Your Good Last Name" />
                        </mat-form-field>

                        <!-- address line 1  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Address Line 1</mat-label>
                            <input required [(ngModel)]="mentor.addLine1" name="addLine1" type="text" matInput
                                placeholder="Where Do you live?" />
                        </mat-form-field>

                        <!-- address line 2  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Address Line 2</mat-label>
                            <input [(ngModel)]="mentor.addLine2" name="addLine2" type="text" matInput
                                placeholder="Any Landmark?" />
                        </mat-form-field>

                        <!-- district -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>District</mat-label>
                            <input [(ngModel)]="mentor.district" name="district" type="text" matInput
                                placeholder="District" />
                        </mat-form-field>

                        <!-- state -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>State</mat-label>
                            <input [(ngModel)]="mentor.state" name="state" type="text" matInput
                                placeholder="In which state?" />
                        </mat-form-field>

                        <!-- pin -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Pin</mat-label>
                            <input [(ngModel)]="mentor.pin" name="pin" type="text" matInput placeholder="Pin Number" />
                        </mat-form-field>

                        <!-- Company1 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Company 1</mat-label>
                            <input [(ngModel)]="mentor.company1" name="company1" type="text" matInput
                                placeholder="Any past Experience?" />
                        </mat-form-field>

                        <!--Company2 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Company 2</mat-label>
                            <input [(ngModel)]="mentor.company2" name="company2" type="text" matInput
                                placeholder="Anymore past Experience?" />
                        </mat-form-field>

                        <!-- Company3 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Comapny 3</mat-label>
                            <input [(ngModel)]="mentor.company3" name="company3" type="text" matInput
                                placeholder="Anything more to add?" />
                        </mat-form-field>

                         <!-- Company4 -->
                         <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Comapny 4</mat-label>
                            <input [(ngModel)]="mentor.company4" name="company4" type="text" matInput
                                placeholder="Anything more to add?" />
                        </mat-form-field>

                        <!-- skill1 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Skill 1</mat-label>
                            <input [(ngModel)]="mentor.skill1" name="skill1" type="text" matInput
                                placeholder="Your skills?" />
                        </mat-form-field>

                        <!-- skill2 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Skill 2</mat-label>
                            <input [(ngModel)]="mentor.skill2" name="skill2" type="text" matInput
                                placeholder="Showcase your second skill" />
                        </mat-form-field>

                        <!-- skill3 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Skill 3</mat-label>
                            <input [(ngModel)]="mentor.skill3" name="skill3" type="text" matInput
                                placeholder="Talented if you have more." />
                        </mat-form-field>

                        <!-- skill4 -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Skill 4</mat-label>
                            <input [(ngModel)]="mentor.skill4" name="skill4" type="text" matInput
                                placeholder="Anything more to add?" />
                        </mat-form-field>

                        <!-- email -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="mentor.email" [pattern]="emailPtn" name="email" type="email"
                                matInput placeholder="How to connect with you ? (unique)" />
                        </mat-form-field>

                        <!-- phone number -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input required [(ngModel)]="mentor.phoneNumber" [pattern]="phonePtn" name="phoneNumber"
                                type="text" matInput placeholder="Yout unique contact information?" />
                        </mat-form-field>

                        <!-- Gender -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Gender</mat-label>
                            <input required [(ngModel)]="mentor.gender" name="gender" type="text" matInput
                                placeholder="Your Gender?" />
                        </mat-form-field>

                         <!-- Balance -->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Balance</mat-label>
                        <input required [(ngModel)]="mentor.balance" name="balance" type ="number" matInput placeholder="enter here" />
                      </mat-form-field>

                        <!-- Fees -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Fees</mat-label>
                            <input required [(ngModel)]="mentor.fees" name="fees" type="number" matInput
                                placeholder="What do you want to charge?" />
                        </mat-form-field>

                        <!-- Age-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Age</mat-label>
                            <input required [(ngModel)]="mentor.age" name="age" type="number" matInput
                                placeholder="Your Age?" />
                        </mat-form-field>

                        <!-- Years of Experience -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Years of Experience</mat-label>
                            <input required [(ngModel)]="mentor.yearOfExperience" name="yearOfExperience"
                                type="number" matInput placeholder="Are you Experienced?" />
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button mat-raised-button color="accent" class="style-lefts">Clear</button>
                        </div>
                        <br>
                        <br>





                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>